/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main { flex: 1 0 auto; }
/* Sticky Footer */

header {
    padding: 6px 0;
}

.chatBox{
	border: 1px solid #c9c9c9;
	position: relative;
	width: 100%;
	height: 60%;
	min-height: 300px;
	overflow-y: scroll;
	padding-right: 15px;
	padding-left:15px;
}

html ::-webkit-scrollbar {
width: 0px;
background: transparent;

}

.cb-footer{
	height: 50px;
	width: 100%;
	padding: 0;
	margin-top: 0;
}

.chatbox-box{
	height: 60%;
	width: 100%;
	overflow: hidden;
}

.cb-send{
	padding: 2px;
	height: 65%;
	margin-top: auto;
	margin-bottom: auto;
	float: right;
}

.card-panel{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 1px;
}

.head{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.text-input{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#university-box{
	display: block;
	width: 100%;
}

.uni-card {
	display: inline-grid;
	width: calc(50% - 20px);
	min-width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.uni-card.card-open {
	width: calc(100% - 20px);
}
