/* Sticky Footer */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main { flex: 1 0 auto; }
/* Sticky Footer */

header {
	padding: 6px 0;
}

h1 {
	display: inline-block;
}

.container {
	width: 90%;
}

.chatbox-box {
	border: 1px solid #c9c9c9;
	position: relative;
	margin-top: 20px;
}

#chatBox {
	width: 100%;
	height: 50vw;
	max-height: 450px;
	overflow-y: scroll;
}

.bubble {
	border-radius: 30px;
	padding: 10px 20px;
	margin: 10px auto;
}

.bubble.bot {
	margin-right: 20%;
}

.bubble.user {
	margin-left: 20%;
}

#inputForm {
	margin-top: 10px;
}

#userInput {
	width: calc(95% - 80px);
}

html ::-webkit-scrollbar {
width: 0px;
background: transparent;

}

.cb-footer{
	height: 50px;
	width: 100%;
	padding: 0;
	margin-top: 0;
}

.chatbox-box{
	height: 60%;
	width: 100%;
	overflow: hidden;
}

.cb-send{
	padding: 2px;
	height: 65%;
	margin-top: auto;
	margin-bottom: auto;
	float: right;
}

.card-panel{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 1px;
}

.head{
	width: 40%;
	margin-right: auto;
	margin-left: auto;
}

.text-input{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}

#search-settings {
	margin: 20px auto;
}

#tag-box {
    padding-left: 10px;
}

#school-sorting li a {
    color: black;
}

#university-box{
	display: block;
	width: 100%;
}

.uni-card {
	display: inline-grid;
	width: calc(50% - 20px);
	min-width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.uni-card.card-open {
	width: calc(100% - 20px);
	cursor: auto;
}

.minimize-card {
	cursor: pointer;
}

.school-logo {
	max-width: 100%;
}

.card-chart {
	width: 100%;
	min-width: 200px;
	max-width: 400px;
	height: 400px;
}

img {
	max-width: 100%;
}

.row .col.img-col {
	min-height: 400px;
}
